<div class="section box-small">
    This website classification report was created by <a href="https://webinsights.info">web<strong>insights</strong></a>, an Open Source toolkit for website analysis.
</div>

<div style="clear: both"></div>

<style>
    .box-small {
        width: 300px;
        float: left;
        line-height: 25px;
        padding-right: 30px;
        color: #34495e;
        font-weight: 300;
    }

    .box-small a {
        font-weight: 400;
        text-decoration: none;
        color: #34495e;
    }

    .box-small a strong {
        font-weight: 600;
    }
</style>
