<div class="section box-small">
    <h2>Domains</h2>
    <div style="height: 76px">This CSV file contains all domains that where part of this analysis.</div>
    <div class="persona_link" style="margin-top: 30px">
        <a href="{{ filenames.urls }}.csv" target="_blank">
            download as csv →
        </a>
    </div>
</div>

<div class="section box-small">
    <h2>Domains with tags</h2>
    This CSV file contains all domains that where part of this analysis. The file is also enriched with the tags that
    were assigned.
    <div class="persona_link" style="margin-top: 30px">
        <a href="{{ filenames.default }}.csv" target="_blank">
            download as csv →
        </a>
    </div>
</div>

